.main{
  width: auto;
  
}

.header{
  height: 600px;
}

.booksImage{
  width: 100%;
  height: 600px;
  position: absolute;
}

.rectangle{
  position: absolute;
  top:100px;
  height: 400px;
  z-index: 2;
  background-color: white;
  opacity: 0.7;
}

.navigation{
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  background-color: #6EA181;
  z-index: 100;
}
i:hover{
  cursor: pointer;
}
.bg-green{
  background-color: #6EA181;
}
.play{
  width: 50%;
}
.border-dotted{
  border: 4px dotted white;
}
.gallery{
  height: 450px;
}
.footer{
  height: 300px;
  background-color: #47525E;
  color: white;
  position: fixed;
}